<div class="container">
  <br />
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <!-- L'en-tête ici -->
      <p>Déclarer un problème</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>


      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">

          <!-- #region prénom -->
          <div class="form-group row">
            <label for="prenomId" class="col-sm-2 col-form-label text-right">Prénom</label>
            <!-- <input type="email" class="form-control" id="nomProbleme" placeholder="Nom du problème"> -->
            <div class="col-md-10">
              <input class="form-control" id="prenomId" type="text" placeholder="Votre prénom ici (obligatoire)"
                formControlName="prenom" [ngClass]="{'is-valid': (problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                (problemeForm.get('prenom').valid),
                'is-invalid': (problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                (!problemeForm.get('prenom').valid )}" />

              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || 
                problemeForm.get('prenom').dirty) &&
                problemeForm.get('prenom').errors">
                <span *ngIf="problemeForm.get('prenom').errors.minlength">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre prénom
                  </small>
                </span>
              </span>
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region nom de famille -->
          <div class="form-group row">
            <label for="nomId" class="col-sm-2 col-form-label text-right">Nom</label>
            <!-- <input type="email" class="form-control" id="nomProbleme" placeholder="Nom du problème"> -->
            <div class="col-md-10">
              <input class="form-control" id="nomId" type="text" placeholder="Votre nom ici (obligatoire)"
                formControlName="nom" [ngClass]="{'is-valid': (problemeForm.get('nom').touched ||
                  problemeForm.get('nom').dirty) &&
                  (problemeForm.get('nom').valid),
                  'is-invalid': (problemeForm.get('nom').touched ||
                  problemeForm.get('nom').dirty) &&
                  (!problemeForm.get('nom').valid )}" />

              <span class="form-text" *ngIf="(problemeForm.get('nom').touched || 
                  problemeForm.get('nom').dirty) &&
                  problemeForm.get('nom').errors">
                <span *ngIf="problemeForm.get('nom').errors && !problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Veuillez entrer moins de caractères
                  </small>
                </span>
                <span *ngIf="problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre nom de famille
                  </small>
                </span>
              </span>
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region type de probleme -->
          <div class="form-group row">
            <label for="typeProblemeId" class="col-sm -2 col-form-label text-right">Type de problème</label>
            <!-- <input type="email" class="form-control" id="nomProbleme" placeholder="Nom du problème"> -->
            <div class="col-sm-10">
              <select class="form-control" id="typeProblemeId" formControlName="typeProbleme">
                <option value=''>Merci de selectionner un type de problème.</option>
                <option *ngFor="let cat of categoriesProbleme" [value]='cat.id'>{{cat.problemeDescription}}</option>
              </select>
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region Notifications -->
          <div class="form-group col-sm-10">
            <!-- <label for="notification" class="col-sm-2 col-form-label text-right"></label> -->
            <label for="typeNotification" class="col-sm-6 col-form-label text-right">Notifiez-moi pour le status de ma demande:</label>
            <!-- #region Radio buttons -->
            <div class="col-sm-10">
              <label for="typeNotification" class="col-sm-2 col-form-label text-right"></label>
              <div class="form-group form-check-inline" >
                <input class="form-check-input" id="nePasNotifierID" type="radio" value="nePasNotifier" formControlName="typeNotification" checked>
                <label class="form-check-label" for="nePasNotifierID">Ne pas me notifier</label>
              </div>
              <div class="form-group form-check-inline">
                <input class="form-check-input" id="parCourrielID" type="radio" value="parCourriel" formControlName="typeNotification">
                <label class="form-check-label" for="parCourrielID">Par courriel</label>
              </div>
              <div class="form-group form-check-inline">
                <input class="form-check-input" id="parMessageTexteID" type="radio" value="parMessageTexte" formControlName="typeNotification">
                <label class="form-check-label" for="parMessageTexteID">Par message texte</label>
              </div>
              <!-- #endregion -->
            </div>
          </div>
          <!-- #endregion -->
          
          <!-- #region telephone -->
          <div class="form-group row">
            <label for="telephone" class="col-sm-2 col-form-label text-right">Téléphone (SMS):</label>
            <div class="col-md-10">
              <input class="form-control" id="telephoneId" type="text" placeholder="Votre téléphone ici"
                formControlName="telephone" [ngClass]="{'is-valid': (problemeForm.get('telephone').touched ||
                            problemeForm.get('telephone').dirty) &&
                            (problemeForm.get('telephone').valid),
                            'is-invalid': (problemeForm.get('telephone').touched ||
                          problemeForm.get('telephone').dirty) &&
                          (!problemeForm.get('telephone').valid )}" />
              <!-- Pour l'affichage des mesages d'erreurs -->
              <span class="form-text" *ngIf="(problemeForm.get('telephone').touched || 
                                      problemeForm.get('telephone').dirty)">
                <span *ngIf="problemeForm.get('telephone').errors?.pattern">
                  <small class="text-muted">
                    Merci d'entrer seulement des chiffres.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('telephone').errors?.required">
                  <small class="text-muted">
                    Merci de saisir votre numéro de téléphone.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('telephone').errors?.minlength && !problemeForm.get('telephone').errors?.pattern">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('telephone').errors?.maxlength && !problemeForm.get('telephone').errors?.pattern">
                  <small class="text-muted">
                    Veuillez entrer moins de caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region courriel -->
          <div class="form-group row" formGroupName='courrielGroup'>
            <label for="courriel" class="col-sm-2 col-form-label text-right">Adresse courriel:</label>
            <div class="col-md-10">
              <input class="form-control" id="courrielID" type="text" placeholder="Courriel (obligatoire si notification par courriel)" formControlName="courriel"
                [ngClass]="{'is-valid': (problemeForm.get('courrielGroup.courriel').touched ||
                problemeForm.get('courrielGroup.courriel').dirty) &&
                (problemeForm.get('courrielGroup.courriel').valid),
                'is-invalid': (problemeForm.get('courrielGroup.courriel').touched ||
              problemeForm.get('courrielGroup.courriel').dirty) &&
              (!problemeForm.get('courrielGroup.courriel').valid )}"/>
              <!-- Pour l'affichage des mesages d'erreurs -->
              <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courriel').touched || 
                problemeForm.get('courrielGroup.courriel').dirty)">
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors?.pattern">
                  <small class="text-muted">
                    S.V.P entrer les informations dans un format valide.
                  </small>
                </span>     
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors?.required">
                    <small class="text-muted">
                      Merci d'entrer votre adresse courriel.
                    </small>
                  </span>             
              </span>
            </div>
          </div>
          <!-- #endregion -->
          
          <!-- #region courriel de confirmation -->
          <div class="form-group row" formGroupName='courrielGroup'>
            <label for="courrielConfirmation" class="col-sm-2 col-form-label text-right">Confirmer courriel</label>
            <div class="col-md-10">
              <input class="form-control" id="courrielConfirmationId" type="text" placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)" formControlName="courrielConfirmation" 
              [ngClass]="{'is-valid': (problemeForm.get('courrielGroup.courrielConfirmation').touched ||
                problemeForm.get('courrielGroup.courrielConfirmation').dirty) &&
                (problemeForm.get('courrielGroup.courrielConfirmation').valid),
                'is-invalid': (problemeForm.get('courrielGroup.courrielConfirmation').touched ||
              problemeForm.get('courrielGroup.courrielConfirmation').dirty) &&
              (!problemeForm.get('courrielGroup.courrielConfirmation').valid) || problemeForm.get('courrielGroup').errors}" />
              <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courrielConfirmation').touched || 
                problemeForm.get('courrielGroup.courrielConfirmation').dirty)">
                <span *ngIf="problemeForm.get('courrielGroup').errors?.CourrielsDifferents">
                  <small class="text-muted">
                    Le courriel de confirmation n'est pas le même que le courriel. Le corriger.
                  </small>
                </span>     
                <span *ngIf="problemeForm.get('courrielGroup.courrielConfirmation').errors?.required">
                    <small class="text-muted">
                      Confirmex votre addresse courriel (la réécrire).
                    </small>
                  </span>             
              </span>
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region Zone de texte # Unité -->
          <div class="form-group row">
            <label for="noUniteId" class="col-md-2 col-form-label text-right">#
              Unité :</label>
            <div class="col-md-10">
              <input class="form-control" id="noUniteId" type="text" placeholder="Numéro de l'unité si connu"
                formControlName="noUnite" />
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region Zone de texte DESCRIPTION DU PROBLÈME -->
          <div class="form-group row">
            <label for="descriptionProblemeId" class="col-md-2 col-form-label textright">Description du problème :</label>
            <div class="col-md-10">
              <textarea class="form-control" rows="3" id="descriptionProblemeId" type="text"
                placeholder="Décrire le propblème ici (obligatoire)" formControlName="descriptionProbleme" [ngClass]="{'is-valid':
          (problemeForm.get('descriptionProbleme').touched ||
          problemeForm.get('descriptionProbleme').dirty) &&
           problemeForm.get('descriptionProbleme').valid,
           'is-invalid': (problemeForm.get('descriptionProbleme').touched
          || problemeForm.get('descriptionProbleme').dirty) &&
           !problemeForm.get('descriptionProbleme').valid }"></textarea>
              <span class="form-text" *ngIf="(problemeForm.get('descriptionProbleme').touched ||
           problemeForm.get('descriptionProbleme').dirty) &&
           problemeForm.get('descriptionProbleme').errors">
                <span *ngIf="problemeForm.get('descriptionProbleme').errors.required">
                  <small class="text-muted">
                    N'oubliez pas de décrire le plus clairement possible le
                    problème rencontré.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('descriptionProbleme').errors.minlength">
                  <small class="text-muted">
                    La description du problème doit comporter plus de 5
                    caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>
          <!-- #endregion -->

          <!-- #region Zone de texte Date -->
          <div class="form-group row">
            <label for="dateProblemeId" class="col-md-2 col-form-label textright">Date :</label>
            <div class="col-md-10">
              <input class="form-control" id="dateProblemeId" type="text" formControlName="dateProbleme" />
            </div>
          </div>
          <!-- #endregion -->

        </form>
      </div>
    </div>

    <!-- #region bouton sauvegarder -->
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <span>
          <button class="btn btn-primary" type="submit" [disabled]="!problemeForm.valid" id="buttonValiderDeclarationProblemeId">
            <i class="fa fa-save"></i>
            &nbsp;&nbsp;Sauvegarder
          </button>
        </span>
      </div>
    </div>
    <!-- #endregion bouton sauvegarder -->

  </div>
</div>